.pagination-wrapper {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;

  .pagination-nav {
    cursor: pointer;
    width: 15px;
    height: 15px;

    &.inner-pagination-nav {
      font-size: 13px;
    }
  }

  .disabled-el {
    opacity: 0.5;
    cursor: not-allowed;
  }

  ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 100%;
    margin: 0;
    padding: 0.5em;

    li {
      display: inline-block;
      cursor: pointer;

      &:not(:last-child) {
        margin-inline-end: 3px;

        @media (min-width: 500px) {
          margin-inline-end: 10px;
        }
      }

      &:hover {
        .pagination-link-number {
          color: $black;
        }
      }

      &.active {
        cursor: default;

        .pagination-link-number {
          background: linear-gradient(90deg, var(--light-color) 0%, var(--dark-color) 100%);
          color: $white;
        }
      }

      &.pagination-icon-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .pagination-link-number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #777;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        @media (min-width: 500px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
