.tooltip {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &.is-disabled {
    text-decoration: none;
    cursor: initial;
  }
}

.tooltip-message {
  position: absolute;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.6875rem;
  max-width: 250px;
  z-index: 500;

  &.on-top {
    transform: translateX(-50%);
    background-color: var(--background-color);

    &.is-indicator {
      &::after {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid var(--background-color);
        position: absolute;
        bottom: -12px;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }

  &.on-right {
    margin-inline-start: 11px;
    transform: translateY(-50%);
    background-color: var(--background-color);

    &.is-indicator {
      &::after {
        content: '';
        border-top: 5px solid transparent;
        border-right: 8px solid var(--background-color);
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 50%;
        left: -8px;
        transform: translateY(-50%);
      }
    }
  }

  &.on-bottom {
    transform: translateX(-50%);
    background-color: var(--background-color);

    &.is-indicator {
      &::after {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid var(--background-color);
        position: absolute;
        top: -8px;
        right: 50%;
        transform: translate(50%, 0%);
      }
    }
  }

  &.on-left {
    transform: translateY(-50%);
    background-color: var(--background-color);

    &.is-indicator {
      &::after {
        content: '';
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-left: 8px solid var(--background-color);
        position: absolute;
        top: 50%;
        right: -7px;
        transform: translateY(-50%);
      }
    }
  }
}
