//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$white: #ffffff;
$black: #000000;
$bluish-primary: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
$yellow-primary: linear-gradient(90deg, #ffb347 0%, #ec9f05 100%);
$secondary: linear-gradient(90deg, #f67062 0%, #de4daa 100%);
$danger: linear-gradient(90deg, #f75036 0%, #c63d18 100%);
$success: linear-gradient(90deg, #0bab64 0%, #63d471 100%);
$blue-gray-200: #e2e8f0;
$blue-gray-500: #64748b;
$purple: #8e54e9;
