.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  a {
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: #efeff4;
    }

    &.active, &:focus {
      color: cornflowerblue;
    }

    &.active {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
